GUI/Connected Services/RegistroLoginWS/RegistroLogin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="registros">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUser" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registrosResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="registrosSoapIn">
    <wsdl:part name="parameters" element="tns:registros" />
  </wsdl:message>
  <wsdl:message name="registrosSoapOut">
    <wsdl:part name="parameters" element="tns:registrosResponse" />
  </wsdl:message>
  <wsdl:portType name="RegistroLoginSoap">
    <wsdl:operation name="registros">
      <wsdl:input message="tns:registrosSoapIn" />
      <wsdl:output message="tns:registrosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegistroLoginSoap" type="tns:RegistroLoginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registros">
      <soap:operation soapAction="http://tempuri.org/registros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RegistroLoginSoap12" type="tns:RegistroLoginSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registros">
      <soap12:operation soapAction="http://tempuri.org/registros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistroLogin">
    <wsdl:port name="RegistroLoginSoap" binding="tns:RegistroLoginSoap">
      <soap:address location="https://registrologinws.azurewebsites.net/RegistroLogin.asmx" />
    </wsdl:port>
    <wsdl:port name="RegistroLoginSoap12" binding="tns:RegistroLoginSoap12">
      <soap12:address location="https://registrologinws.azurewebsites.net/RegistroLogin.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>